<%- include top.ejs %>
    <ul>
        <div><%= docs.valores %> </div>
    </ul>
    <p id="salida"></p>
    <script>
        var valores = [[6],[3,5],[9,7,1],[4,6,8,4]];
        function makeTableHTML(myArray ) {
    
        var n = valores.length-1;
        var result = "<table border=1>";
    for(var i=0; i<=n; i++) {
        result += "<tr>";
        for(var j=0; j<=i; j++){
            result += "<td id="+valores[i][j]+" width='90' align='center'>"+valores[i][j]+"</td>";
        }
        result += "</tr>";
    }
    result += "</table>";


    return result;
    }
document.getElementById("salida").innerHTML = makeTableHTML(valores);
document.getElementById("td").style.backgroundColor = 'yellow';
</script>
<%- include bottom.ejs %>
