<%- include top.ejs %>
    <form action="/draw" method="POST">
      <p>Digite os Valores:<input type="text" name="valores"/></p>
      <a href="/" class="btn">ADD</a>
      <input  type="submit" value="Desenhar triangulo" class="btn btn-primary"/>
    </form>
<%- include bottom.ejs %>